.center{
    text-align: center;
}

.content{
    border: 1px solid black;

}

.heading{
    font-weight: bolder;
    font-size: 26px;

}

.top{
    font-size: xx-large;
}

.children{
    text-align: right;
}

.question{
    font-size: 24px;
}
