.center {
    text-align: center;
}
.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 150px;
    right: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidediv a:hover {
    color: white;
  }

  .sidediv {
    margin-left: 80%; 
    height: 250px; 
    font-size: 18px;
    background:#2196F3;
    color: white;
  }
